/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Light.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Light.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Light.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/MyriadPro/MyriadPro-LightIt.eot");
  src: url("../fonts/MyriadPro/MyriadPro-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightIt.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-LightIt.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-LightIt.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Regular.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/MyriadPro/MyriadPro-It.eot");
  src: url("../fonts/MyriadPro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-It.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-It.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-It.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Bold.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/MyriadPro/MyriadPro-BoldIt.eot");
  src: url("../fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldIt.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-BoldIt.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-BoldIt.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Black.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Black.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Black.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Black.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Black.svg") format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/MyriadPro/MyriadPro-BlackIt.eot");
  src: url("../fonts/MyriadPro/MyriadPro-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackIt.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-BlackIt.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-BlackIt.svg") format("svg");
}
/* settings */
html {
  height: 100%;
}

a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
body.lock {
  position: fixed;
}

@media (max-width: 769px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 770px) {
  .mobile-visible {
    display: none !important;
  }
}

.img-responsive {
  position: relative;
  overflow: hidden;
}
.img-responsive img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.img-responsive svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.img-responsive:after {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}

.wrapper {
  width: 100%;
  max-width: 860px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 769px) {
  .wrapper {
    padding-left: 15px;
  }
}
@media screen and (max-width: 769px) {
  .wrapper {
    padding-right: 15px;
  }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.btn {
  min-width: 230px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 30px;
  background-color: #EE2D24;
  border: none;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  -webkit-box-shadow: 0 5px 20px rgba(238, 45, 36, 0.5);
  box-shadow: 0 5px 20px rgba(238, 45, 36, 0.5);
}

.navPage {
  padding: 50px 0;
}
.navPage h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
.navPage ul {
  font-size: 25px;
}
.navPage ul li a {
  color: #000;
}

/* /settings */
.header {
  padding-top: 35px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  color: #787878;
  position: relative;
}
.header__list:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #787878;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}
.header__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #787878;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__list li.active {
  background-color: #892F87;
  border-color: #892F87;
  color: #fff;
}

.footer {
  background-color: #892F87;
}
.footer__logo {
  display: block;
  max-width: 150px;
}
.footer__logo img {
  display: block;
}

.step1 {
  padding: 25px 0;
}
.step1__head {
  margin-right: auto;
  text-align: center;
}
.step1__title {
  font-size: 38px;
  font-weight: 300;
  color: #EE2D24;
  margin-bottom: 15px;
}
.step1__text {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 45px;
}
.step1__circle {
  text-align: center;
  margin-bottom: 55px;
}
.step1__circle .circle-text {
  font-size: 40px !important;
  font-weight: bold;
  font-style: italic;
}
.step1__slider {
  padding-bottom: 50px;
  margin-bottom: 65px;
}
.step1__slider .noUi-target {
  height: 6px;
  width: 100%;
}
.step1__slider .noUi-connects {
  background: #787878;
}
.step1__slider .noUi-connect {
  background: #EE2D24;
}
.step1__slider .noUi-handle {
  width: 30px;
  height: 30px;
  top: -13px;
  border-radius: 100%;
  background-color: #EE2D24;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border: none;
}
.step1__slider .noUi-handle:before, .step1__slider .noUi-handle:after {
  display: none;
}
.step1__slider .noUi-value {
  top: 20px;
  color: #000;
}
.step1__slider .noUi-value-sub {
  font-size: 16px;
  color: #000;
}
.step1__slider .noUi-marker {
  height: 10px;
  background: #787878;
  top: 20px;
}
.step1__btn {
  text-align: center;
}

.step1result {
  padding: 40px 0;
}
.step1result__sticker {
  width: 230px;
  padding: 10px 10px;
  margin-left: auto;
  background-color: #FFF3F7;
  font-size: 20px;
  font-weight: 300;
}
.step1result__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.step1result__title strong {
  font-weight: bold;
  font-style: italic;
}
.step1result__title span {
  font-weight: bold;
  font-style: italic;
  color: #EE2D24;
}
.step1result__img {
  margin-bottom: 20px;
  text-align: center;
}
.step1result__img img {
  max-width: 750px;
}
.step1result__btn {
  text-align: center;
}