doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/style.css")
    title Опрос
  body 
    
    .page 
      .content 
      footer.footer
        a.footer__logo(href="#") 
          img(src="img/logo.jpg", alt="")