doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/nouislider.min.css")
    link(rel="stylesheet", href="css/style.css")
    title Опрос | Шаг 1-1
  body 
    
    .page 

      header.header 
        .wrapper
          ul.header__list 
            li.active 1
            li 2
            li 3
            li 4
            li 5
            li 6

      .content 

        .step1result 
          .wrapper
            .step1result__title 
              strong Совершенно верно! <br>
              | До 40% пациентов, которые подвергаются хирургическому вмешательству, имеют предоперационную анемию. <br>
            .step1result__img 
              img(src="img/diagram.svg", alt="")
            .step1result__btn 
              .btn Следущий вопрос

      script(src="js/circles.js") 
      script(src="js/wNumb.min.js")
      script(src="js/nouislider.min.js") 
      script(src="js/scripts.js") 

      footer.footer
        a.footer__logo(href="#") 
          img(src="img/logo.jpg", alt="")