.step1result {
  padding: 40px 0;
  &__sticker {
    width: 230px;
    padding: 10px 10px;
    margin-left: auto;
    background-color: #FFF3F7;
    font-size: 20px;
    font-weight: 300;
  }
  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    strong {
      font-weight: bold;
      font-style: italic;
    }
    span {
      font-weight: bold;
      font-style: italic;
      color: $red;
    }
  }
  &__img {
    margin-bottom: 20px;
    text-align: center;
    img {
      max-width: 750px;
    }
  }
  &__btn {
    text-align: center;
  }
}